<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="StoreDataFilePath" value="data\storedata.xlsx"/>
    <add key="OFDDataFilePath" value="data\ofd.txt"/>
    <add key="UsersDataFilePath" value="data\users.txt"/>
    <add key="CompanyDataFilePath" value="data\company.bin"/>
    <add key="OutputDirectory" value="output"/>
    <add key="InputDirectory" value="input"/>
    <add key="DaDataApiToken" value="6db25055841906ecbdce72aaff286795ecb1dace"/>
  </appSettings>
</configuration>